* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 80px;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    white-space:nowrap;
}

.nav-left {
    display: flex;
}

.nav-right {
    display: flex;
}

.nav-left img {
    width: 100px;
    padding: 1rem
}

.info-nav {
    gap: 1rem;
    list-style: none;
    color: grey;
}

.nav-left ul {
    display: flex;
    padding: 1rem 2rem;
}

.nav-right ul {
    display: flex;
    padding: 1rem 2rem;
}


.button-nav {
    margin: 0.3em;
    padding: 0 3px;
    outline: none;
    border: none;

}

.accedi {
    color: grey;
    background-color: white;
}

.inizia {
    padding: 0 1rem;
    background-color: rgb(11, 132, 212);
    color: white;
    text-decoration: none;
}

.section-main {
    background-color: lightblue;
    margin-top: 80px;

}

.container-section-main {
    max-width: 1000px;
    margin: auto;
    padding-top: 4rem;
}

.container-section-main h1 {
    font-size: 70px;
}

.info-section-main {
    margin-top: 3rem;
    display: flex;
    position: relative;
    bottom: -50px;

}

.button-section-main {
    margin-top: 1rem;
    border: none;
    color: white;
    background-color: rgb(11, 132, 212);
    padding: 0.3rem 0.5rem;
}

.annullamento {
    display: block;
    margin-top: 1rem;
    text-decoration: none;
    color: black;
}

.info-section-main img {
    width: 600px;

}

/* main container  */
.container-main {
    max-width: 800px;
    padding-top: 5rem;
    margin: auto;
}

.fatturazione {
    margin: 2rem 0;
}

.fattura-mensile {
    margin-right: 2rem;

}

.pacchetto {
    width: calc( 800px / 3 - 1rem);
    border: 1px solid lightgray;
    
}

.riferimento {
    border-bottom: 1px solid lightgray;
    text-align: center;
    
}

.prezzo {
    font-size: 15px;
}

.mese {
    color: grey;
}

.caratteristiche-piano {
    list-style: none;
    margin-bottom: 2rem;
    font-size: 12px;

}

.tipo-pacchetto {
    padding: 1rem;
    margin: auto;
}

.margin-bottom-list {
    margin-bottom: 1rem;
}
.margin-border{
    margin-bottom: 3rem;
}

.tipo-pacchetto button{
    outline: none;
    border: none;
    background-color: rgb(11, 132, 212) ;
    color: white;
    padding: 0.5rem;
    display: block;
    width: 100%;
    
}
.bordo-piccolo{
    width: 40px;
    border: 1px solid lightgrey;
}
.punti-salienti-piano{
    font-size: 12px;
    list-style: none;   
}
.spunta{
    float: left;
    margin-right: 0.3rem;
    font-size: 12px;
    color: rgb(11, 132, 212);
    
}

.pacchetti{
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;   
}
.ufficio-vendite{
    display: flex;
    padding: 2rem;
}
.ufficio-vendite button{
    display: inline;
}
.button-contatto{  
    flex: 2 0 auto;  
    color: white;
    margin-left: 3rem;
}
.enterprise{
    flex: 0 1 auto;
    
}
.button-contatto button{
    background-color: rgb(11, 132, 212);
    color: white;
    padding: 0.5rem;
    border: none;
}
.enterprise h3{
    margin-bottom: 1rem;
}
.enterprise h5{
    margin-bottom: 3rem;
}
.container-enterprise{
    border: 1px solid lightgray;
    margin-bottom: 6rem;
}
span{
    font-size: 20px;

}
.container-partner img{
    width: 500px;
    margin-right: 2rem;
    
}
.container-partner{
    display: flex;
    margin-bottom: 5rem;
}
.description-partner{
    position: relative;
    top: 30px;
}
.description-partner h2{
    margin-bottom: 1rem;

}
.description-partner p{
    margin-bottom: 1rem;

}
.trova-un-partner{
    color: gray;
    border: 1px solid black;
    padding: 1rem;
    background-color: white;
}
.img-operazioni{
    width: calc(800px / 3 - 3rem);
    
}
.img-operazioni img{
    width: 100%;
}
.container-img{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}
.img-operazioni h3{
    margin-bottom: 2rem;
}
.container-operazioni{
    margin-bottom: 5rem;
}
a{
    color: rgb(11, 132, 212);
}
.aziende-partner{
    width: 100vw;
    background-color: aqua;
    margin-top: 5rem;
    display: flex;    
}
.quadrato{
   width: calc( 100vw / 3); 
   display: flex;
   flex-wrap: wrap;
}
.azienda{
    width: 50%;
    height: 50%;
    background-color: rgb(46, 150, 219);
    display: flex;
    justify-content: center;
    align-items: center;
}
.azienda img{
    width: 50%;
        
}
.azienda-due{
    background-color: rgb(139, 32, 32);
}
.azienda-tre{
    background-color: red;
}
.azienda-quattro{
    background-color: rgb(195, 203, 83);
}

.azienda-cinque{
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem;
}
.azienda-cinque img{
    width: 50%;
    margin-bottom: 5rem;
    
}
.azienda-sei{
    background-color: aliceblue;
}
.azienda-sette{
    background-color: bisque;
}
.azienda-otto{
    background-color: aquamarine;
}
.azienda-nove{
    background-color: cadetblue;
}
.dropbox-nella-tua-azienda{
    width: 100vw;
    background-color: rgb(171, 235, 235);
    margin-bottom: 5rem;

}
.prova-gratuita{
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0rem;
    margin: auto;
}
.prova-gratuita button{
    flex: 2 0 auto;
    padding: 0.5rem;
    align-self: center;
    margin-left: 14rem;
    border: none;
}
.prova-gratuita h2{
    flex: 1 1 auto;
    font-size: 30px;
    padding: 3rem;
    color: rgb(77, 15, 84);
    align-self: center;
}
.containe-domande{
    width: 100vw;
    
}
.domande-frequenti{
    max-width: 800px;
    margin: auto;
}
.domande-frequenti h2{
    padding: 3rem 0;
    border-bottom: 1px solid grey;
}
.lista-domande>li{
     padding: 2rem 0;
     border-bottom: 1px solid gray;
}